
.column {
  float: left;
}

.left-column {
  width: 30%;
  border-right: 1px solid #ebebeb;
  position: relative;
}

.right-column {
  width: 70%;
  position: relative;
}

.draggable-border {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  cursor: col-resize;
  z-index: 1;
  background-color: #ebebeb;
  border-radius: 4px;
}

.left-column .draggable-border {
  right: -3px;
}

.right-column .draggable-border {
  left: -3px;
}

.left-column:hover .draggable-border,
.right-column:hover .draggable-border {
  background-color: #ddd;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
  }
}

.diff-line {
  font-size: smaller;
 line-height: 1.2;
}
#maincard{
  font-size: smaller;
  margin: 5%;
}

#btn{
  font-size: smaller;
  margin: 1%;
  
}
#filePath1{
visibility: hidden;
}